body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.header-intro{
    background-color: #1F2937;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 0;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-logo h1{
    color: #F9FAF8;
    font-size: 24px;
    text-align: left;
}

.header-nav{
    font-size: 18px;
    color: #E5E7EB;
    text-align: right;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
}

.intro{
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8rem;
}

.intro-text{
    display: flex;
    flex-direction: column;
}

.intro-text h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.intro-text p{
    font-size: 18px;
    color: #E5E7EB;
}

.intro-text button{
    padding: 5px;
    background-color: #3882f6;
    border-radius: 5px;
    color: #F9FAF8;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    width: 150px;
}

.main-content{
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 3rem;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.main-content h2{
    text-align: center;
    margin: 0;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.main-content-text-img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.text-img-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-img-block p{
    font-size: 18px;
    color: #1F2937;
    /* Why it seems margin doesn't apply? */
    margin: 1;
    text-align: center;
}

.text-img-block img{
    width: 80%;
    height: 80%;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.quote{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}

.quote h2{
    font-size: 36px;
    color: #1F2937;
    font-style: light italic;
    padding-left: 15rem;
    padding-right: 15rem;
    padding-top: 8rem;
    margin: 0;
}

.quote p{
    font-size: 18px;
    color: #1F2937;
    margin: 0;
    padding-left: 15rem;
    padding-right: 15rem;
    padding-bottom: 8rem;
    text-align: right;
}

.advertise{
    display: flex;
    flex-direction: row;
    background-color: #3882F6;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 10px;
    align-items: center;
}

.advertise-text h3{
    font-size: 25px;
    color: #F9FAF8;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 3rem;
    margin: 0;
}

.advertise-text p{
    font-size: 18px;
    color: #F9FAF8;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 3rem;
    margin: 0;
}

.advertise button{
    padding: 5px;
    background-color: #3882f6;
    border: 3px solid #F9FAF8;
    border-radius: 5px;
    color: #F9FAF8;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    width: 150px;
    margin-left: 5rem;
}

.footer{
    background-color: #1F2937;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer p{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    text-align: center;
}